<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <!-- đọc cấu hình thiết bị-->
    <title>Blog</title>
    <!-- thự viện font icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
            <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <ul class="parent">
                        <div>
                            <% if (user) { %>
                                <span>Hello! </span>
                                <strong><img src="<%= user.avatar %>" alt="avatar" style="width: 30px; height: 30px"><%= user.name %></strong>
                                <a href="/logout" style="color: #999"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
                            <% } %>

                            <% if (!user) { %>
                                <a href="/login" style="color: #999"><span class="glyphicon glyphicon-user"></span> Login </a> | 
                                <a href="/signup" style="color: #999"><span class="glyphicon glyphicon-pencil"></span> SignUp </a>
                            <% } %>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
            
            <!-- header 12 cột -->
            <div class="col-md-12">

                    
                <header>
                    <!-- code navbar, menu-->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <!--  toggle nav -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                                <span class="sr-only">Toggle navigation</span> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"></span> 
                                </button>
                                <a class="navbar-brand" href="/">Kool</a> 
                            </div>

                            




                            <div class="collapse navbar-collapse" id="collapse">
                                <ul class="nav navbar-nav navbar-left"> <!-- navbar năm bên trái-->
                                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
                                    </li>
                                    <li><a href="/albums"><span class="glyphicon glyphicon-picture"></span> Albums </a>
                                    </li>
                                    <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About </a>
                                    </li>
                                    <li><a href="/blog"><span class="glyphicon glyphicon-user"></span> Blog </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--   cho biết đang ở đâu, từ đâu đến-->
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a>
                            </li>
                            <li class="active">Profile</li>
                        </ol>
                    </nav>
                </header>
            </div>
            <!-- end  col-md-12-->
        </div>
            <!-- end  row-->    




            <!-- menu trái 2 cột, 10 cột content-->


        <div class="row">
            <div class="col-md-2">
                <nav class="navbar navbar-default" role="navigation">
                            <!--  toggle nav -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar">
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                    </div>

                    <div class="navbar-collapse" id="sidebar">
                        <ul class="nav nav-list">
                            <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Viết blog</a></li>
                            <li><a href="/albums/add"><i class="glyphicon glyphicon-picture"></i> Tạo albums</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i> Thành viên</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Xem lịch</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-map-marker"></i> Vị trí</a></li>
                        </ul>
                    </div>
                </nav>  
            </div>
            <!-- end col-md-2 -->


            <!-- content 10col -->
            <div class="col-md-10">
                <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                
               <% if (user) { %>  

                    <div class="page-header text-center">
                        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="well">
                                <h3><img class="" src="<%= user.avatar %>" alt="no avatar" style="width: 70px; height: 70px"></h3>
                                  
                                    <div style="word-wrap:break-word">
                                        <strong>id</strong>: <%= user.id %>
                                    </div>

                                    <div style="word-wrap:break-word">
                                        <strong>name</strong>: <%= user.name %>
                                    </div>

                                    <div style="word-wrap:break-word">
                                        <strong>email</strong>: <%= user.email %>
                                    </div>

                                    <div style="word-wrap:break-word">
                                        <strong>phone</strong>: <%= user.phone %>
                                    </div>
                                        
                                    <div style="word-wrap:break-word">
                                        <strong>password</strong>: <%= user.pwuser %>
                                    </div>

                                    <div style="word-wrap:break-word">
                                        <strong >FB tokken</strong>: <%= user.facebook_token %>
                                    </div>

                                    <div style="word-wrap:break-word">
                                        <strong>FB id</strong>: <%= user.facebook_id %>
                                    </div>

                                    <div style="word-wrap:break-word">
                                        <strong>FB Link</strong>:<%= user.facebook_link %>
                                    </div>
                                 
                            </div>
                        </div>
                    </div>
             <% } %>

               </div>
                    </div>
            </div> 
            <!--end content 10col-->
        </div>
        <!-- end row -->


            <div class="row">
                <div class="col-md-12">
                    <footer>
                    <div class="row">
                        <div class="container">
                            <div class="text-center">
                            <ul class="list-inline banner-social-buttons">
                            <li><a href="https://twitter.com"><i class="fa fa-twitter-square" style="color:blue; font-size:48px"></i></a>
                            </li>
                            <li><a href="https://plus.google.com"><i class="fa fa-google-plus-official" style="color:red; font-size:48px"></i> </a>
                            </li>
                            <li><a href="https://facebook.com/langtudatinh2060"><i class="fa fa-facebook-official" style="color:blue; font-size:48px"></i></a>
                            </li>
                        </ul>
                        </div>
                        </div>
                     </div>
                          
                    <div>
                        <p class="copyright">2017 Powered By Blue Group, Theme By Bootstrap</p>
                    </div>
                </footer>
                <!-- end footer -->

                </div>
                <!-- end col-md-12 -->

            </div>
            <!-- end row -->

    </div>
    <!-- end container -->

</body>
</html>